Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

add spotless
  android/app/build.gradle
  android/settings.gradle
Due: none

add logging
  lib/desktop/window_manager_helper/_wm_helper_windows_impl.dart
Due: mypy

fix default condition
  lib/desktop/window_manager_helper/_wm_helper_windows_impl.dart
Due: mypy

only clamp size
  lib/desktop/window_manager_helper/window_manager_helper.dart
Due: mypy

improvements to the solution
  lib/desktop/init.dart
  lib/desktop/window_manager_helper/_wm_helper_windows_impl.dart
  lib/desktop/window_manager_helper/defaults.dart
  lib/desktop/window_manager_helper/window_manager_helper.dart
Due: mypy

use Kotlin 2.2.21
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/settings.gradle
Due: none

add pre-commit
  .github/workflows/android.yml
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  spotless_apply.py
Due: none

setup Java on Linux
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
Due: none

only use gradle if system supports it
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  spotless_apply.py
Due: none

use Flutter's ndkVersion
  android/app/build.gradle
Due: none

Check if provider is mounted after reset
  lib/desktop/piv/state.dart
Due: none

Bump riverpod and flutter
  .github/workflows/env
  pubspec.lock
  pubspec.yaml
Due: none

Change long press message from 10 to 5 seconds
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

bump Android libraries
  android/app/build.gradle
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
Due: none

bump Flutter
  .github/workflows/env
Due: none

bump flutter dependencies
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Due: none

bump python
  .github/workflows/env
Due: none

use dart null-aware elements
  lib/app/views/device_picker.dart
  lib/oath/models.dart
Due: none

use Java 21
  .github/workflows/android.yml
  .github/workflows/codeql-analysis.yml
Due: none

update Podfile
  macos/Podfile.lock
Due: none

install lld
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
Due: none

Check for unsigned dlls
  .github/scribe-sign-exe-dll.yml
  .github/scribe-sign-exe.yml
  .github/workflows/windows.yml
  resources/win/verify_dll.ps1
Due: none

Pull translations from crowdin
  android/app/src/main/res/values-hu/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  assets/l10n/status.json
  crowdin.yaml
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Bump version to 7.3.2
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
Due: mypy

Update NEWS
  NEWS
Due: none

Do not retry on `fido-blocked-error`
  lib/fido/state.dart
Due: none

Retry list devices when some are inaccessible
  lib/desktop/devices.dart
Due: none

Fix color on generic device image
  assets/product-images/generic_dark.png
  lib/widgets/product_image.dart
Due: none

fix(piv): use strict subject DN validation
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/X500DnUtils.kt
  android/app/src/test/java/com/yubico/authenticator/piv/X500DnUtilsTest.kt
Due: none

fix: avoid clearing credentials on invalid PIN
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

fix: ensure max one OATH touch prompt timer active
  lib/android/oath/state.dart
Due: none

fix: provide PIN for signing in PIV slots
  android/app/src/main/kotlin/com/yubico/authenticator/piv/CertificateUtils.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
Due: none

preserve PPUAT on ERR_PIN_AUTH_BLOCKED
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

Fix PIN error handling based on PPUAT presence
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

Provide PIN through KeyStore.getKey API
  android/app/src/main/kotlin/com/yubico/authenticator/piv/CertificateUtils.kt
Due: none

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
