Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

platform dependent icon alignment
  lib/piv/views/generate_key_dialog.dart
Due: none

cleanup
  lib/android/piv/state.dart
Due: none

Use correct string for exception
  lib/exception/tag_lost_exception.dart
Due: none

add missing copyright header
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivmanUtils.kt
Due: none

Change theme
  lib/android/qr_scanner/qr_scanner_provider.dart
  lib/app/app.dart
  lib/app/views/app_page.dart
  lib/app/views/navigation.dart
  lib/theme.dart
  lib/widgets/responsive_dialog.dart
Due: none

Change PIV banner text for FIPS
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  lib/piv/views/piv_screen.dart
Due: arb-reformatter, update-android-strings

review fixes
  android/app/src/main/kotlin/com/yubico/authenticator/piv/CertificateUtils.kt
  lib/piv/views/generate_key_dialog.dart
Due: none

Change preferred connection type based on device
  helper/helper/fido.py
  helper/pyproject.toml
  helper/uv.lock
  lib/desktop/fido/state.dart
  lib/desktop/otp/state.dart
Due: mypy

Bump Python version
  .github/workflows/env
Due: none

Fix reset dialog for CTAP2.2 properties
  .github/workflows/android.yml
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/build.gradle
  lib/app/views/reset_dialog.dart
  lib/exception/ctap_exception.dart
  lib/exception/platform_exception_decoder.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

only disable features
  lib/android/init.dart
Due: none

PIV PIN metadata workaround for BIO MPE
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
Due: none

bump python version
  .github/workflows/env
Due: none

Fix conditional view in generate key dialog
  lib/piv/views/generate_key_dialog.dart
Due: none

use yubikit 2.9.0 from maven central, bump python
  .github/workflows/android.yml
  .github/workflows/env
  android/build.gradle
Due: none

bump env
  .github/workflows/env
Due: none

bump flutter packages
  l10n.yaml
  pubspec.lock
  pubspec.yaml
Due: none

bump ykman
  helper/pyproject.toml
  helper/uv.lock
Due: mypy

bump android deps
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/settings.gradle
Due: none

fix deprecations
  lib/app/views/settings_page.dart
  lib/piv/views/generate_key_dialog.dart
  lib/theme.dart
Due: none

bump pod
  macos/Podfile
  macos/Podfile.lock
Due: none

bump minimum Android version
  README.adoc
Due: none

bump github actions
  .github/workflows/android.yml
  .github/workflows/check-strings.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

Pin oss-licenses-plugin to 0.10.6
  android/settings.gradle
Due: none

Change theme
  lib/app/views/app_page.dart
  lib/app/views/navigation.dart
  lib/theme.dart
  lib/widgets/responsive_dialog.dart
Due: none

Add missing l10n strings
  lib/app/views/settings_page.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Re-enable exclusive connections
  lib/desktop/rpc.dart
Due: none

Allow blocking connections for testing
  helper/helper/device.py
Due: mypy

Fix Windows FIDO elevation
  helper/helper/device.py
  lib/app/views/app_failure_page.dart
  lib/app/views/reset_dialog.dart
  lib/desktop/fido/state.dart
Due: mypy

Handle PPUAT
  helper/helper/fido.py
  lib/desktop/fido/state.dart
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/models.g.dart
  lib/fido/views/actions.dart
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/key_actions.dart
  lib/fido/views/passkeys_screen.dart
  lib/fido/views/pin_dialog2.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings, mypy

Store PPUAT encrypted
  helper/helper/fido.py
Due: mypy

Handle deletion of PPUAT
  helper/helper/fido.py
  lib/fido/views/actions.dart
  lib/fido/views/pin_confirmation_dialog.dart
Due: mypy

Fix unlock behaviour
  helper/helper/base.py
  helper/helper/fido.py
  helper/helper/oath.py
  lib/desktop/fido/state.dart
  lib/fido/views/actions.dart
  lib/fido/views/credential_dialog.dart
  lib/fido/views/fingerprint_dialog.dart
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/passkeys_screen.dart
Due: mypy

Fix error text in `FidoPinConfirmationDialog`
  lib/fido/views/pin_confirmation_dialog.dart
Due: none

Default `unlockedRead` to True
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/models.g.dart
Due: none

set default log level on startup
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none

Remove duplicate default log level setting
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/logging/Log.kt
Due: none

workaround for default pin on MPE
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
  helper/helper/piv.py
Due: mypy

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
