Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: local
  hooks:
    - id: flutter-l10n-gen
      name: generate-l10n
      language: system
      entry: flutter gen-l10n
      pass_filenames: false
      require_serial: true
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      exclude: lib/generated
      require_serial: true
    - id: flutter-analyze
      exclude: lib/generated
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.0
  hooks:
    # Run the linter, organize imports
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter
    - id: ruff-format

bump flutter
  .github/workflows/env
Due: none

keep oss-licenses-plugin at 0.10.6
  android/settings.gradle
Due: none

Android 13
  README.adoc
Due: none

bump deps
  android/settings.gradle
  pubspec.lock
  pubspec.yaml
Due: none

fix format
  lib/android/piv/state.dart
Due: none

Update ConnectionHelper, support SCP
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
Due: none

implement generate CHUID
  android/app/build.gradle
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
Due: none

fix ISO date formatting
  android/app/src/main/kotlin/com/yubico/authenticator/piv/data/DataExt.kt
Due: none

Change MS Store permission note
  lib/app/views/app_failure_page.dart
  lib/app/views/device_error_screen.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Handle PPUAT
  helper/helper/fido.py
  lib/desktop/fido/state.dart
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/models.g.dart
  lib/fido/views/actions.dart
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/key_actions.dart
  lib/fido/views/passkeys_screen.dart
  lib/fido/views/pin_dialog2.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings, mypy

Store PPUAT encrypted
  helper/helper/fido.py
Due: mypy

Handle deletion of PPUAT
  helper/helper/fido.py
  lib/fido/views/actions.dart
  lib/fido/views/pin_confirmation_dialog.dart
Due: mypy

Fix unlock behaviour
  helper/helper/base.py
  helper/helper/fido.py
  helper/helper/oath.py
  lib/desktop/fido/state.dart
  lib/fido/views/actions.dart
  lib/fido/views/credential_dialog.dart
  lib/fido/views/fingerprint_dialog.dart
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/passkeys_screen.dart
Due: mypy

Fix error text in `FidoPinConfirmationDialog`
  lib/fido/views/pin_confirmation_dialog.dart
Due: none

Default `unlockedRead` to True
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/models.g.dart
Due: none

Bump Python to 3.13.7
  .github/workflows/env
Due: none

Add warning for FIDO delete credential
  lib/fido/views/delete_credential_dialog.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

add description for exe scribe job
  .github/scribe-sign-exe.yml
Due: none

Support for pivman data/pivman protected data
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivViewModel.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/data/PivState.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/data/PivmanUtils.kt
  lib/android/piv/state.dart
  lib/piv/views/actions.dart
Due: none

reorganize pivmandata
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivmanUtils.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/data/PivmanData.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/data/PivmanProtectedData.kt
Due: none

support keys without metadata and serial features
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
Due: none

update R8
  android/app/proguard-rules.pro
Due: none

Wait for key removal during NFC actions
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/NfcState.kt
  lib/android/overlay/nfc/nfc_overlay.dart
  lib/android/state.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Scribe: add description
  .github/scribe-sign-exe.yml
  .github/scribe-sign-msi.yml
Due: none

adjust generate key dialog for Android
  lib/android/piv/state.dart
  lib/app/message.dart
  lib/exception/platform_exception_decoder.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  lib/piv/views/generate_key_dialog.dart
Due: arb-reformatter, update-android-strings

support cancellations, add forgotten file
  lib/android/piv/state.dart
  lib/exception/tag_lost_exception.dart
  lib/piv/views/actions.dart
  lib/piv/views/import_file_dialog.dart
Due: none

Add PIV PIN metadata workaround for BIO MPE
  helper/helper/device.py
  helper/helper/piv.py
Due: mypy

fix authentication for key generation
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
Due: none

Send `scp_params` as kwarg
  helper/helper/device.py
Due: mypy

Bump deps
  helper/uv.lock
Due: mypy

Bump Ubuntu version
  .github/workflows/linux.yml
Due: none

Test 22.04
  .github/workflows/linux.yml
Due: none

Change PIV banner text for FIPS
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  lib/piv/views/piv_screen.dart
Due: arb-reformatter, update-android-strings

fix examineFile result
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
Due: none

fix PEM detection
  android/app/src/main/kotlin/com/yubico/authenticator/piv/KeyMaterialParser.kt
Due: none

clean up file
  lib/android/piv/state.dart
Due: none

update code style
  android/app/src/main/kotlin/com/yubico/authenticator/piv/data/PivmanData.kt
Due: none
